.Contador input{
    font-size: 1.4rem;
    width: 60px;
}
.Contador button{
    margin: 10px;
    height: 50px;
    width:50px ;
    border-radius: 50%;
    background-color: #1499d3;
    color:white;
    font-size: 1.4rem;
}